@import '../base/color';
@import '../utilities/fonts';
$header-font-size: 0.85em;
// Header styles
nav#navigation-menu {
    font-size: $header-font-size;
    ul.navbar-nav {
        li.nav-item {
            a.nav-link {
                color: black;
                i.nav-link-icon {
                    color: rgba($color: $dark-pink, $alpha: 1.0);
                }
            }
            div.dropdown-menu {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                font-size: $small-font-size;
            }
        }
    }
}