@import '../base/color';
.plus-icon {
    font-size: 19px;
}

.word-icon {
    color: $word-background-color;
}

.excel-icon {
    color: $excel-background-color;
}

.power-point-icon {
    color: $power-point-background-color;
}

.one-note-icon {
    color: $one-note-background-color;
}

.program-icon {
    color: $program-icon-color;
}

.new-file-icon {
    position: absolute;
    left: 0.3em;
    top: 0.9em;
    font-size: 11px;
}

@media screen and (max-width: 992px) {
    .new-file-icon {
        position: absolute;
        left: 136px;
        top: 0.8em;
        font-size: 11px;
    }
}