    // Table styles
    @import '../base/color';
    @import '../utilities/fonts';
    $document-table-file-type-column-width: 5%;
    $document-table-file-name-column-width: 35%;
    $document-table-modified-time-column-width: 175px;
    $document-table-modified-by-column-width: $document-table-modified-time-column-width;
    $document-table-add-new-col-column-width: calc(100% - #{$document-table-file-type-column-width} - #{$document-table-file-name-column-width}) - $document-table-modified-time-column-width*2;
    $document-table-border: 1px solid $border-light-color;
    table.document-table {
        font-size: $base-font-size;
        colgroup {
            col {
                &.file-type {
                    width: $document-table-file-type-column-width;
                }
                &.file-name {
                    width: $document-table-file-name-column-width;
                }
                &.modified-time {
                    width: $document-table-modified-time-column-width;
                }
                &.modified-by {
                    width: $document-table-modified-by-column-width;
                }
                &.add-new-column {
                    width: $document-table-add-new-col-column-width;
                }
            }
        }
        th {
            border-top: transparent;
            font-weight: normal;
            &:hover {
                background-color: $light-color;
            }
            &.file-type {
                text-align: right;
            }
        }
        tbody {
            tr {
                padding-top: 30px;
                &:hover {
                    background-color: $light-color;
                    @media screen and (max-width: 992px) {
                        background-color: white;
                    }
                }
                &:last-child {
                    border-bottom: $document-table-border;
                }
                td {
                    position: relative;
                    &.file-type {
                        text-align: right;
                        vertical-align: middle;
                    }
                    &.file-name {
                        cursor: pointer;
                    }
                    // from column 3th and after
                    &:nth-child(n+3) {
                        font-weight: 300;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 992px) {
        table.document-table {
            min-width: 390px;
            font-size: $base-font-size;
            thead {
                border: transparent;
                clip: rect(0 0 0 0);
                height: 0px;
                margin: 0px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 0px;
            }
            tbody {
                tr {
                    td {
                        display: block;
                        text-align: right;
                        padding: 0.75em 0.5em;
                        text-align: left;
                        &:before {
                            content: attr(data-label);
                            float: left;
                            font-weight: bold;
                            font-style: italic;
                            width: 140px;
                            text-align: left;
                            padding-left: 0.5em;
                        }
                        &:hover {
                            background-color: $light-color;
                        }
                        &.file-type {
                            margin-top: 1.5em;
                            background-color: $light-color;
                        }
                        // from column 1st to 4th
                        &:nth-child(-n+4) {
                            border: $document-table-border;
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }