// Table styles
$document-table-column-1-width: 7%;
$document-table-column-2-width: 35%;
$document-table-column-3-width: 17%;
$document-table-column-4-width: $document-table-column-3-width;
$document-table-column-5-width: calc(100% - #{$document-table-column-1-width} - #{$document-table-column-2-width} - #{$document-table-column-3-width}*2);
table.document-table {
    font-size: 0.875em;
    colgroup {
        col {
            &:nth-child(1) {
                width: $document-table-column-1-width;
            }
            &:nth-child(2) {
                width: $document-table-column-2-width;
            }
            &:nth-child(3) {
                width: $document-table-column-3-width;
            }
            &:nth-child(4) {
                width: $document-table-column-4-width;
            }
            &:nth-child(5) {
                width: $document-table-column-5-width;
            }
        }
    }
    th {
        &:nth-child(1) {
            text-align: right;
        }
        font-weight: normal;
    }
    tbody {
        tr {
            &:last-child {
                border-bottom: 1px solid #dee2e6;
            }
            td {
                &:nth-child(1) {
                    text-align: right;
                }
                &:nth-child(n+3) {
                    font-weight: 300;
                    font-size: 0.875em;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}