$light-color: #f8f9fa;
$dark-pink: #b32179;

$word-background-color: #2b579a;
$excel-background-color: #217346;
$power-point-background-color: #b7472a;
$one-note-background-color: #80397b;
$program-icon-color: #e65a5a;

$border-light-color: #dee2e6;